<div class="container d-flex flex-column align-items-center">
  <div class="">
    <h1>Welcome to <span style="color: green">TASK</span>It</h1>
  </div>
  <div>
    This platform allows you to keep track of tasks professionally, domestically, and more.
  </div>
  <div>
    Sign up today to get to work!
  </div>
  <div>
    <img class="landingPage" src="assets/images/figmaLanding.png" alt="app example image"/>
  </div>
  <div>
    <p> Create an account to get started today.</p>
  </div>
  <div>
    <button class="btn btn-primary m-2" routerLink="/auth" routerLinkActive="active" (click)="loginMode(false)">Sign-up</button>or<button class="btn btn-light m-2" routerLink="/auth" routerLinkActive="active" (click)="loginMode(true)">Login</button>
  </div>
</div>
