:host {
  display: block;
  background: white;
  border-radius: 8px;
  padding: 16px;
  max-width: 500px;
  animation: custom-dialog-enter 1s ease;
}

@keyframes custom-dialog-enter {
  from {
    transform: scale(0) rotate(30deg);
  }

  to {
    transform: none;
  }
}
