<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="kanBanTasksToDo"
        class="list" (cdkDropListDropped)="drop($event, 'To-Do')">
      <div class="list-item" *ngFor="let item of kanBanTasksToDo; index as i" cdkDrag style="text-align: center;">
        <mat-card class="task-card">
          <mat-card-header [ngClass]="{'priorityHigh': item.priority === 'High', 'priorityMedium': item.priority === 'Medium', 'priorityLow': item.priority === 'Low'}">
            <div class="container">
              <div class="row justify-content-between">
                <div class="column">
                 <mat-card-title>{{item.title}}</mat-card-title>
                </div>
                <div class="column">

                      <form>
                        <div class="form-group" >

                        <select [(ngModel)]="item.status" (change)="onUpdateTask(task)" name="choose-status" >

                          <option value="To-Do">To-Do</option>
                          <option value="In Progress">In Progress</option>
                          <option value="Done">Done</option>

                        </select>

                        </div>
                      </form>

                </div>
              </div>

            </div>
          </mat-card-header>
          <mat-card-content>

            <mat-card-subtitle>
              <div>{{item.dueDate}}</div>
              <div><form>
                <div class="form-group">
                <label>Priority</label>
                <select [(ngModel)]="item.priority" name="task-priority" (change)="onUpdateTask(task)">

                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>

              </div>
              </form>
            </div>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button class="bi bi-pencil-square" mat-button data-toggle="modal" data-target="#editTaskModal" (click)="onTaskSelectToDo(i)"></button>



            <button class="bi bi-trash" mat-button (click)="delTaskToDo(i)"></button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="buffer" value="50" [color]="color"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>In Progress</h2>

    <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="kanBanTasksInProgress"
        class="list" (cdkDropListDropped)="drop($event, 'In Progress')">
      <div class="list-item" *ngFor="let item of kanBanTasksInProgress, index as i" cdkDrag style="text-align: center;">
        <mat-card class="task-card">
          <mat-card-header [ngClass]="{'priorityHigh': item.priority === 'High', 'priorityMedium': item.priority === 'Medium', 'priorityLow': item.priority === 'Low'}">
            <div class="container">
              <div class="row justify-content-between">
                <div class="column">
                 <mat-card-title>{{item.title}}</mat-card-title>
                </div>
                <div class="column">

                      <form>
                        <div class="form-group" >

                        <select [(ngModel)]="item.status" name="choose-status" (change)="onUpdateTask(task)">

                          <option value="To-Do">To-Do</option>
                          <option value="In Progress">In Progress</option>
                          <option value="Done">Done</option>

                        </select>

                        </div>
                      </form>

                </div>
              </div>

            </div>
          </mat-card-header>
          <mat-card-content>

            <mat-card-subtitle>
              <div>{{item.dueDate}}</div>
              <div><form>
                <div class="form-group">
                <label>Priority</label>
                <select [(ngModel)]="item.priority" name="task-priority" (change)="onUpdateTask(task)">

                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>

              </div>
              </form>
            </div>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
          </mat-card-content>

          <mat-card-actions>
            <button class="bi bi-pencil-square" mat-button data-toggle="modal" data-target="#editTaskModal" (click)="onTaskSelectInProgress(i)"></button>



            <button class="bi bi-trash" mat-button (click)="delTaskInProgress(i)"></button>



          </mat-card-actions>

          <mat-card-footer>
            <mat-progress-bar mode="indeterminate" [color]="color"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>



    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="kanBanTasksDone"
        class="list" (cdkDropListDropped)="drop($event, 'Done')">
      <div class="list-item" *ngFor="let item of kanBanTasksDone, index as i" cdkDrag style="text-align: center;">
        <div class="custom-placeholder" *cdkDragPlaceholder></div>
        <mat-card class="task-card">
          <mat-card-header [ngClass]="{'priorityHigh': item.priority === 'High', 'priorityMedium': item.priority === 'Medium', 'priorityLow': item.priority === 'Low'}">
            <div class="container">
              <div class="row justify-content-between">
                <div class="column">
                 <mat-card-title>{{item.title}}</mat-card-title>
                </div>
                <div class="column">

                      <form>
                        <div class="form-group" >

                        <select [(ngModel)]="item.status" name="choose-status" (change)="onUpdateTask(task)">

                          <option value="To-Do">To-Do</option>
                          <option value="In Progress">In Progress</option>
                          <option value="Done">Done</option>

                        </select>

                        </div>
                      </form>

                </div>
              </div>

            </div>
          </mat-card-header>
          <mat-card-content>

            <mat-card-subtitle>
              <div>{{item.dueDate}}</div>
              <div><form>
                <div class="form-group">
                <label>Priority</label>
                <select [(ngModel)]="item.priority" name="task-priority" (change)="onUpdateTask(task)">

                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>

              </div>
              </form>
            </div>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
             <button class="bi bi-pencil-square" mat-button data-toggle="modal" data-target="#editTaskModal" (click)="onTaskSelectedDone(i)"></button>

             <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="newTaskLabel">Edit Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #editTaskForm="ngForm" (ngSubmit)="onUpdateTask(this.selectedTask)" novalidate>

                      <div class="form-group">
                        <label for="task-title" class="col-form-label">Title</label>
                        <input type="text" class="form-control" required [(ngModel)]="this.selectedTask.title"  name="task-title" id="task-title">
                        <!-- <small class="text-danger" [class.d-none]="tasktitle.valid || tasktitle.untouched" >Title is required</small> -->
                      </div>

                      <div class="form-group">
                        <label for="task-due" class="col-form-label">Due</label>
                        <input type="datetime-local" class="form-control" required [(ngModel)]="this.selectedTask.dueDate" name="task-due" id="task-due">
                      </div>

                      <div class="form-group">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="task-priority">Priority</label>
                          </div>
                          <select class="custom-select" [(ngModel)]="this.selectedTask.priority" name="task-priority" id="task-priority">

                            <option value="High">High</option>
                            <option value="Medium" selected>Medium</option>
                            <option value="Low">Low</option>

                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="task-status">Status</label>
                          </div>
                          <select class="custom-select" [(ngModel)]="this.selectedTask.status" name="task-status" id="task-status" (change)="onUpdateTask(task)">
                            <option value="To-Do" selected>To-Do</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Done">Done</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="editTaskForm.form.invalid" class="btn btn-primary" id="save">Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            <button class="bi bi-trash" mat-button (click)="delTaskDone(i)"></button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="determinate" [value]=100 [color]="color"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>

      </div>
    </div>
  </div>

</div>

<app-notifications></app-notifications>
