
<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h1>{{ isLoginMode ? "Sign In to " : "Sign Up for " }}<span><b style="color: green">TASK</b></span><span style="color: black">It</span></h1>
    <form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
      <div *ngIf="!isLoginMode">
        <div>
          <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              ngModel
              required
            />

          <label for="lastName">Last Name</label>
            <input
            type="text"
            id="lastName"
            name="lastName"
            class="form-control"
            ngModel
           required
          />
        </div>

          <label for="imgPath">Profile Image</label>
            <input
            type="text"
            id="imgPath"
            name="imgPath"
            class="form-control"
            ngModel
            required
          />

      </div>



      <!-- EMAIL -->
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        email
        ngModel
        required
      />
      <!-- . . . -->

      <!-- PASSWORD -->
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        minlength="6"
        ngModel
        required
      />
      <!-- . . . -->

      <!-- BUTTONS -->
      <div class="p-2">
        <button class="btn btn-primary" type="submit" [disabled]="!authFormRef.valid">
        {{ isLoginMode ? "Sign In" : "Sign Up" }}
        </button> |
        <button class="btn btn-success" type="button" routerLink="">Cancel</button>

        </div>


    </form>
    <p class="alert alert-danger mt-3" *ngIf="errMsg">{{ errMsg }}</p>
  </div>
</div>
