<div class="d-flex flex-column bd-highlight mb-3 item1">
  <div class="p-2 bd-highlight">
    <h1>Task List</h1>
  </div>

  <div class="p-2 bd-highlight flex-grow-1 item2">
    <div class="d-flex flex-row filter-section">
      <span><b>Filter: </b></span>

      <div class="p-2 dropdown">
        <button type="button" data-toggle="dropdown" aria-expanded="false">Status
          <i class="bi bi-chevron-compact-down"></i>

        </button>
        <div class="dropdown-menu">
          <ul>
            <li>To-Do</li>
            <li>Done</li>
          </ul>
        </div>
      </div>
      <div class="p-2 dropdown">
        <button type="button" data-toggle="dropdown" aria-expanded="false">Date
          <i class="bi bi-chevron-compact-down"></i>

        </button>
        <div class="dropdown-menu">
          ...
        </div>
      </div>
      <div class="p-2 dropdown">
        <button type="button" data-toggle="dropdown" aria-expanded="false">Priority
          <i class="bi bi-chevron-compact-down"></i>

        </button>
        <div class="dropdown-menu">
          <ul>
            <li>High</li>
            <li>Medium</li>
            <li>Low</li>
          </ul>
        </div>
      </div>

      <div class="ml-auto">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newTaskModal">Add New Task</button>

        <!-- Modal -->
        <div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newTaskLabel">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #newTaskForm="ngForm" (ngSubmit)="addNewTask()" novalidate>

                  <div class="form-group">
                    <label for="task-title" class="col-form-label">Title</label>
                    <input type="text" [class.is-invalid]="taskTitle.invalid && taskTitle.touched" class="form-control" required [(ngModel)]="newTask.title" #taskTitle="ngModel" name="task-title" id="task-title">
                    <small class="text-danger" [class.d-none]="taskTitle.valid || taskTitle.untouched" >Title is required</small>
                  </div>

                  <div class="form-group">
                    <label for="task-due" class="col-form-label">Due</label>
                    <input type="datetime-local" class="form-control" required [(ngModel)]="newTask.dueDate" name="task-due" id="task-due">
                  </div>

                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="task-priority">Priority</label>
                      </div>
                      <select class="custom-select" [(ngModel)]="newTask.priority" name="task-priority" id="task-priority">

                        <option value="High">High</option>
                        <option value="Medium" selected>Medium</option>
                        <option value="Low">Low</option>

                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="task-status">Status</label>
                      </div>
                      <select class="custom-select" [(ngModel)]="newTask.status" name="task-status" id="task-status">
                        <option value="To-Do" selected>To-Do</option>
                        <option value="Done">Done</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="newTaskForm.form.invalid || taskTitle.pristine" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 bd-highlight">
      <div class="table-section item3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Due</th>
              <th scope="col">Priority</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of myTasks">
              <th scope="row">
                {{ task.title }}
              </th>
              <td>
                {{ task.dueDate }}
              </td>
              <td>
                {{ task.priority }}
              </td>
              <td>
                {{ task.status }}
              </td>
              <td>
                <i class="bi bi-eye"></i>




                <i class="bi bi-pencil-square" data-toggle="modal" data-target="#editTaskModal"></i>

                <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="newTaskLabel">Edit Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form #editTaskForm="ngForm" (ngSubmit)="editTask()" novalidate>

                          <div class="form-group">
                            <label for="task-title" class="col-form-label">Title</label>
                            <input type="text" [class.is-invalid]="taskTitle.invalid && taskTitle.touched" class="form-control" required [(ngModel)]="this.task.title" #taskTitle="ngModel" name="task-title" id="task-title">
                            <small class="text-danger" [class.d-none]="taskTitle.valid || taskTitle.untouched" >Title is required</small>
                          </div>

                          <div class="form-group">
                            <label for="task-due" class="col-form-label">Due</label>
                            <input type="datetime-local" class="form-control" required [(ngModel)]="this.task.dueDate" name="task-due" id="task-due">
                          </div>

                          <div class="form-group">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="task-priority">Priority</label>
                              </div>
                              <select class="custom-select" [(ngModel)]="this.task.priority" name="task-priority" id="task-priority">

                                <option value="High">High</option>
                                <option value="Medium" selected>Medium</option>
                                <option value="Low">Low</option>

                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="task-status">Status</label>
                              </div>
                              <select class="custom-select" [(ngModel)]="this.task.status" name="task-status" id="task-status">
                                <option value="To-Do" selected>To-Do</option>
                                <option value="Done">Done</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" [disabled]="editTaskForm.form.invalid" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <i class="bi bi-trash" (click)="delTask(myTasks.findIndex(this.task))"></i>
              </td>
            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>
