<div class="d-flex flex-column bd-highlight mb-3 item1">
  <div class="p-2 bd-highlight">
    <h1>Task List</h1>
  </div>

  <div class="d-flex p-2 bd-highlight flex-grow-1 item2">
    <div class="d-flex flex-row">
      <mat-form-field class="d-flex, flex-grow-1">
      <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="By Title - Date - Status - Priority" #input>
      </mat-form-field>

    </div>

    <div class="ml-auto">
      <button type="button" class="btn btn-success" (click)="onModal()">Add New Task</button>
      <app-notifications></app-notifications>
    </div>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Task ID Column -->
    <ng-container matColumnDef="taskID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.taskID}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Due Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due </th>
      <td mat-cell *matCellDef="let row"> {{row.dueDate | date }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row, index as i">

        <!-- Begin Modal -->
        <i class="bi bi-eye" (click)="onModal(row.taskID)"></i>
        <i class="bi bi-pencil-square" (click)="onModal(row.taskID)"></i>
        <i class="bi bi-trash" (click)="delTask(row.taskID)"></i>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Tasks"></mat-paginator>
</div>


